# Ignore cache files
/wp-content/cache/

# Ignore user uploads/media
/wp-content/uploads/

# Ignore compiled/minified assets and build artifacts
/wp-content/plugins/facetwp/assets/js/dist/
/wp-content/themes/*/css/app-ver=*.css
/wp-content/themes/*/libs/**/*.js
/wp-content/themes/*/resources/js/vendor/

# Ignore oEmbed cache files
/wp-json/oembed/
